dj-database-url
psycopg2==2.6.2
amqp==2.1.4
billiard==3.5.0.2
celery==4.0.2
click==6.6
Django==1.9.5
django-cors-headers==2.1.0
djangorestframework==3.3.3
Pygments==2.1.3
python-dateutil==2.5.3
virtualenv==15.0.1
gunicorn==19.7.1
